// THIS DROPDOWN MENU WORK'S
.menu {
  width: 0;
  visibility: hidden;

  &__burger-checkbox {
    width: 0;
  }

  &__list {
    width: 0;
  }

  &__item {
    width: 0;
    // height: 0;
  }
}

@media screen and (max-width: $tab-port) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: $phone-big) {
  .menu {
    margin-left: 145px;
    width: 40px;
    display: block;
    visibility: visible;
    padding-top: 22px;
    padding-bottom: 23px;
    padding-right: 16px;
    &__burger-checkbox {
      position: absolute;
      visibility: hidden;
      margin: 0;
      padding: 0;
      width: 40px;
    }

    &__burger-checkbox:checked + &__burger::before {
      top: 11px;
      transform: rotate(45deg);
      box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
      transition:
        box-shadow 0.15s,
        top 0.3s,
        transform 0.3s 0.15s;
    }
    &__burger-checkbox:checked + &__burger::after {
      bottom: 11px;
      transform: rotate(-45deg);
      transition:
        bottom 0.3s,
        transform 0.3s 0.15s;
    }

    &__burger-checkbox:checked ~ &__list {
      transform: translateX(0);
    }

    &__burger {
      z-index: 1;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      background: transparent;
      width: 40px;
      height: 26px;

      &::before,
      &::after {
        content: "";
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
      }

      &::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition:
          box-shadow 0.3s 0.15s,
          top 0.3s 0.15s,
          transform 0.3s;
      }
      &::after {
        bottom: 0;
        transition:
          bottom 0.3s 0.15s,
          transform 0.3s;
      }
    }

    &__list {
      top: 0;
      right: 80px;
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      margin: 0;
      background: #f2f4f7;
      list-style-type: none;
      transform: translateY(-100%);
      transition: 0.3s;
      width: 140px;

      .link {
        display: block;
        padding: 8px;
        color: $black;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        width: 125px;
  
        &:hover {
          background-color: grey;
        }
      }
    }

    
  }
}


// .hamburger {
//   display: grid;
//   visibility: visible;
//   position: relative;
//   width: 40px;
//   height: 40px;
//   cursor: pointer;
//   transition: transform 330ms ease-out;
//   grid-template-rows: repeat(2, 1fr);

//   &__checkbox {
//     position: absolute;
//     opacity: 0;
//     width: 40px;
//     height: 40px;
//     z-index: 2;
//   }

//   // Убираем список по умолчанию
//   &__list {
//     // height: 100px;
//     visibility: hidden;
//   }

//   // Стили для контейнера с открытым состоянием
//   &.open {
//     transform: rotate(-45deg);
//   }

//   // Стили для меню
//   &__menu {
//     z-index: 1;
//     display: block;
//     position: relative;
//     border: none;
//     background: transparent;
//     width: 40px;
//     height: 26px;
//   }

//   // Стили для линий гамбургера
//   &__line {
//     border-radius: 5px;
//     width: 100%;
//     height: 6px;
//     background-color: #000; // Убедитесь, что $black определён в SCSS
//   }

//   // Половина линии
//   &__line.half {
//     width: 50%;
//   }

//   // Линия начала
//   &__line.start {
//     transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
//     transform-origin: right;
//   }

//   // Состояние линии при открытом гамбургере
//   .open &__line.start {
//     transform: rotate(-90deg) translateX(3px);
//   }

//   // Линия конца
//   &__line.end {
//     justify-self: end;
//     transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
//     transform-origin: left;
//   }

//   // Состояние линии при открытом гамбургере
//   .open &__line.end {
//     transform: rotate(-90deg) translateX(-3px);
//   }

//   // Стиль для списка при открытии гамбургера
//   input:checked ~ &__list {
//     visibility: visible;
//   }
// }
