---
import Hero from "../../components/Hero.astro";
import Card from "../../components/card/Card.astro";
import Hamburger from "../../components/hamburger/Hamburger.astro";
---

<Hero />
<div class="titleBox">
  <div class="titleBox__title">
    <h2>Hello!</h2>
  </div>
  <div class="titleBox__par">
    <p class="pars">
      My name is Max I am a novice fronted developer.
      <br /> Also, my hobby is breaking.
      <br /> You can see what I'm doing - program and break.
    </p>
  </div>
  <Hamburger />
</div>
<Card />
