<div class="card">
  <div class="cardBox">
    <div class="cardBox__box">
      <div class="cardBox__title">
        <h3>Title1</h3>
      </div>
      <div class="cardBox__date">
        <p>13.12.2024</p>
      </div>
      <div class="cardBox__par">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters,
        </p>
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="cardBox__box">
      <div class="cardBox__title">
        <h3>Title2</h3>
      </div>
      <div class="cardBox__date">
        <p>13.12.2024</p>
      </div>
      <div class="cardBox__par">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters,
        </p>
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="cardBox__box">
      <div class="cardBox__title">
        <h3>Title3</h3>
      </div>
      <div class="cardBox__date">
        <p>13.12.2024</p>
      </div>
      <div class="cardBox__par">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters,
        </p>
      </div>
    </div>
  </div>

  <div class="cardBox">
    <div class="cardBox__box">
      <div class="cardBox__title">
        <h3>Title4</h3>
      </div>
      <div class="cardBox__date">
        <p>13.12.2024</p>
      </div>
      <div class="cardBox__par">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters,
        </p>
      </div>
    </div>
  </div>
</div>
