---
import { getCollection } from "astro:content";

const allPosts = Object.values(
  await import.meta.glob("../../pages/posts/*.md", { eager: true }),
);
---

<div class="card">
  {
    allPosts.map((post: any) => (
      <div class="cardBox">
        <div class="cardBox__box">
          <div class="cardBox__title">
            <h3>{post.frontmatter.title}</h3>
          </div>
          <div class="cardBox__date">
            <p>{post.frontmatter.pubDate.toString().slice(0, 10)}</p>
          </div>
          <div class="cardBox__par">
            <p>{post.frontmatter.description}</p>
            <a href={post.url}>Here!</a>
          </div>
        </div>
      </div>
    ))
  }
</div>

<style lang="scss">
  button {
    width: 50px;
    height: 30px;
  }
</style>
