<!-- ---
import FilterBtn from '../button/filterBtn.jsx';
import Button from "../button/Button.astro";

const allPosts = Object.values(
  import.meta.glob("../../pages/posts/*.md", { eager: true }),
);
const filteredPosts = allPosts.filter((post: any, tag) =>
  post.frontmatter.tags?.includes(tag),
);

const { tag } = Astro.params;
---
<FilterBtn posts={allPosts} client:load />
<Button />
<div class="card">
  {
    filteredPosts.map((post: any) => (
      <div class="cardBox">
        <div class="cardBox__box">
          <div class="cardBox__title">
            <h3>{post.frontmatter.title}</h3>
          </div>
          <div class="cardBox__date">
            <p>{post.frontmatter.date.toString().slice(0, 10)}</p>
          </div>
          <div class="cardBox__par">
            <p>{post.frontmatter.text}</p>
            <a class="link" href={post.url}>
              View the entire post!
            </a>
          </div>
        </div>
      </div>
    ))
  }
</div> -->
