<div class="nav">
  <div class="nav__logoBox">
    <h3>.sonofbaphomet</h3>
  </div>
  <div class="nav__linkBox">
    <a class="link" href="/">Home</a>
    <a class="link" href="/about">About</a>
    <a class="link" href="/blog">Blog</a>
    <a class="link" href="/tags">Tags</a>
  </div>

  <div class="menu">
    <input type="checkbox" id="burger-checkbox" class="menu__burger-checkbox" />
    <label for="burger-checkbox" class="menu__burger"></label>
    <ul class="menu__list">
      <a class="link" href="/">Home</a>
      <a class="link" href="/about">About</a>
      <a class="link" href="/blog">Blog</a>
      <a class="link" href="/tags">Tags</a>
    </ul>
  </div>
</div>
