<div class="nav">
  <div class="nav__logoBox">
    <h3>.sonofbaphomet</h3>
  </div>
  <div class="nav__linkBox">
    <a class="link" href="/">Home</a>
    <a class="link" href="/about">About</a>
    <a class="link" href="/blog">Blog</a>
  </div>
</div>
