nav {
  height: 65px;
  display: grid;
  justify-content: center;
  align-items: center;

  .nav {
    height: 65px;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &__logoBox {
      display: grid;
      width: 260px;
      height: 65px;
      font-size: 24px;
      text-align: center;
      align-items: center;
    }

    &__linkBox {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      align-items: center;
      width: 350px;
      height: 65px;
      grid-column: 4;
      .link {
        color: $black;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }

  @media screen and (max-width: $pc) {
    .nav {
      width: 1200px;

      &__logoBox {
        font-size: 22px;
      }

      &__linkBox {
        .link {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width: $tab-port) {
    .nav {
      width: 900px;
      .link {
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: $tab-port-middle) {
    .nav {
      width: 800px;
      &__logoBox {
        width: 200px;
        margin-left: 20px;
      }
      &__logoBox h3 {
        font-size: 20px;
      }
      &__linkBox {
        width: 250px;
        margin-right: 20px;

        .link {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (max-width: $tab-port-small) {
    .nav {
      width: 768px;
    }
  }

  @media screen and (max-width: $phone-big) {
    .nav {
      width: 430px;
      grid-template-columns: repeat(2, 1fr);

      &__logoBox {
        width: 160px;
      }
      &__logoBox h3 {
        font-size: 18px;
      }
      &__linkBox {
        display: none;
      }
    }
  }
  @media screen and (max-width: $phone) {
    .nav {
      width: 414px;
    }
  }

  @media screen and (max-width: $phone-middle) {
    .nav {
      width: 390px;
      display: grid;
    }
  }

  @media screen and (max-width: 390px) {
    .nav {
      width: 390px;
    }
  }

  @media screen and (max-width: $phone-small) {
    .nav {
      width: 375px;
    }
  }
}
