---
import "../utils/variables.scss";
---

<div class="hero">
  <h1>.sonofbaphomet</h1>
</div>

<style lang="scss">
  .hero {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;

    @media screen and (max-width: 1024px) {
      height: 200px;
      h1 {
        font-size: 28px;
      }
    }

    @media screen and (max-width: 390px) {
      width: 390px;
      h1 {
        font-size: 26px;
      }
    }
  }
</style>
