---
import "../utils/variables.scss";
---

<div class="hero">
  <h1>.sonofbaphomet</h1>
</div>

<style lang="scss">
  .hero {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
</style>
