<div class="hero">
  <h1>.sonofbaphomet</h1>
</div>

<style lang="scss">
  @import "../style/main.scss";
  .hero {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;

    @media screen and (max-width: $tab-port) {
      height: 200px;
      h1 {
        font-size: 28px;
      }
    }

    @media screen and (max-width: $phone) {
      width: 414px;
      h1 {
        font-size: 26px;
      }
    }

    @media screen and (max-width: $phone-middle) {
      width: 390px;
    }

    @media screen and (max-width: $phone-small) {
      width: 375px;
    }
  }
</style>
