---
const { username, platform } = Astro.props;
---

<a class="social" href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style lang="scss">
  .social {
    display: grid;
    justify-content: center;
    height: 40px;
    align-items: center;
    color: #000;
    text-decoration: none;
    margin-top: 10px;
  }
</style>
