footer {
  display: grid;
  justify-content: center;
  background-color: #40534c;
  height: 220px;
  @media screen and (max-width: $phone-big) {
    height: 150px;
  }
}

.footerBox {
  max-width: 500px;
  height: 130px;
  margin-top: 20px;
  &__social {
    display: grid;
    justify-content: center;
    margin-top: 30px;
  }

  @media screen and (max-width: $phone-big) {
    width: 300px;
  }
}
