---
import Social from "../Social.astro";
---

<footer>
  <div class="footerBox">
    <div class="footerBox__social">
      <h4>My social</h4>
    </div>
    <Social platform="VK" username="strange_6ook" />
    <Social platform="github" username="SonOfBaphomet666" />
  </div>
</footer>
