---
import "./main.scss";
import Card from "../components/Card/Card.jsx";
---

<!doctype html>
<html lang="en">
  <style lang="scss" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Astro</title>
  <body>
    <Card />
    <!-- <slot /> -->
  </body>
</html>
