---
import "../style/main.scss";
import Home from "../pages/home.astro";
import Header from "../components/Header.astro";
// import About from "../pages/about.astro";
---

<!doctype html>
<html lang="en">
  <style lang="scss" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <title>Astro</title>
  <body>
    <Header />
    <Home />
    <!-- <slot /> -->
  </body>
</html>
