---
import "../style/main.scss";
const { frontmatter } = Astro.props;
---

<div class="post">
  <div class="post__box">
    <h1>{frontmatter.title}</h1>
    <slot />
  </div>
</div>

<style lang="scss">
  .post {
    &__box {
      margin-top: 40px;
    }
  }
</style>
