---
import "../style/main.scss";
const { frontmatter } = Astro.props;
---

<div class="post">
  <h1>{frontmatter.title}</h1>
  <div class="post__box">
    <slot />
  </div>
</div>

<style lang="scss">
  .post {
    display: grid;
    justify-content: center;
    &__box {
      line-height: 24px;
    }
  }
</style>
